version: "3.8"

services:
  db:
    image: postgres:17.5-alpine3.22
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 30s
      timeout: 10s
      retries: 3

  api:
    image: longchutoa/file-sharing:${APP_TAG:-latest}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:8080"
    depends_on:
      - db
    networks:
      - app-net

volumes:
  pgdata:

networks:
  app-net:
    driver: bridge
