name: CD

on:
  workflow_run:
    workflows: ["CI testing"]
    types:
      - completed

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_sha }}
          docker build -t $IMAGE .
          docker push $IMAGE

      - name: Decrypt .env
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          sops --decrypt --input-type dotenv --output-type dotenv --output .env prod.enc

      - name: Set image tag
        run: |
          echo "IMAGE_TAG=${{ github.event.workflow_run.head_sha }}" >> $GITHUB_ENV

      - name: Deploy with docker compose
        run: |
          docker compose pull
          docker compose up -d
